/*
Daniel Diaz-Etchevehere CSC174 Project 3
*/
/*------------ Base fonts ------------*/
p, footer, label{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #232328;
} 

h1{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 2px;
}

h3{
    font-family: 'Scada', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16pt;
}

a{
    text-decoration: none;
}

/*------------ Nav fonts ------------*/

.bar{ /*top-nav*/
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.nav-a{
    color: #5a515e;
}

.top-nav-name{ /*My name in top-nav*/
    color:#000;
}

.overlay-content{ /* fullscreen overlay nav */
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.active-page{ /*current page highlight*/
    background-color: #fff;
}

/*------------ Styling each section, including other pages------------*/

.hero-header{
    font-size: 250%;
    font-family: 'Unna', Helvetica, Arial, sans-serif;
    font-weight: 700;
}


.section-header{
    font-family: 'Scada', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.my-list{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#db-read-table{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #232328;
}

/*------------ Z-pattern fonts ------------*/

.z-container{
    font-family: 'Scada', Helvetica, Arial, sans-serif;
}

.z-description{
    font-size: 120%;
}

.z-fold{
    font-size: 120%;
}

.z-line-span{
    color: #62728c;
}

/*------------ Hyperlinks ------------*/
.my-link{
    color: royalblue;
}

a:hover{
    text-decoration: none;
}

input[type=submit]{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial;
}

/*------------ Media queries ------------*/

@media(max-width: 540px){
    .z-description{
    font-size: 100%;
    }
}