/*
Daniel Diaz-Etchevehere CSC174 Project 3
*/
/*------------ Base fonts ------------*/
p, footer{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #232328;
} 

h1{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 2px;
}

h3{
    font-family: 'Scada', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
}

/*------------ Nav fonts ------------*/

.bar{ /*top-nav*/
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.nav-a{
    color: #5a515e;
}

.top-nav-name{ /*My name in top-nav*/
    color:#000;
}

.overlay-content{ /* fullscreen overlay nav */
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.active-page{ /*current page highlight*/
    background-color: #fff;
}

/*------------ Other elements ------------*/

.hero-header{
    font-size: 250%;
    font-family: 'Unna', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.z-container{
    font-family: 'Scada', Helvetica, Arial, sans-serif;
}

.section-header{
    font-family: 'Scada', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.my-list{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*------------ Hyperlinks ------------*/
.my-link{
    color: royalblue;
}

a:hover{
    text-decoration: none;
}

input[type=submit]{
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial;
}