/*
Daniel Diaz-Etchevehere CSC174 Project 3
*/
.lightSlider-ul{
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}

.lightSlider-li{
        display: block;
   /* float: left;*/
    /*margin-right: 6px;*/
    cursor:pointer;
}

.lightSlider-img{
        display: block;
    border-radius: 5px;
    height: auto;
    max-width: 100%;
}